---
import BaseLayout from "../../layout/BaseLayout.astro";
import NewMenuListItem from "../../components/NewMenuListItem.astro";
import {newMenuArray} from "../../dataFactory"
---

<BaseLayout
subTitle="新着メニュー一覧 |">
<h2>新着メニュー一覧</h2>
<section>
    <ul>
        {
            //ビルド時に展開される
            newMenuArray.map(
                //item は「最初から入っている」わけではないmap() が毎回、自動で入れてくれる
                //ここのitemは、map() が毎回値を入れてくれる「受け取り変数」itemという名前で受け取る。つまり引数
                //もう一つ下のitemはさっき引数のitemで受け取ったものをそのままmenuに入れてるだけ
                    
                (item) => (
                    <NewMenuListItem
                    menu={item}/>
                )
        )
        }
    </ul>
</section>
<a href="">TOPへ</a>
</BaseLayout>