---
interface Props {
  id: number;
  name: string;
  price: number;
  note?: string;
}

const { id, name, price, note = "--" } = Astro.props;
---

<section>
  <h4>カクテル情報</h4>
  <dl>
    <dt>カクテルID</dt>
    <dd>{id}</dd>
    <dt>カクテル名</dt>
    <dd>{name}</dd>
    <dt>価格</dt>
    <dd>{price}</dd>
    <dt>備考</dt>
    <dd>{note}</dd>
  </dl>
</section>

<style>
  section {
    border: green 1px dashed;
    margin: 10px;
  }
</style>
