---
const rand = Math.round(Math.random() * 100);
---

<section>
  <h4>乱数の表示</h4>
  <p>生成した乱数は{rand}</p>
</section>

<style is:global>
  section {
    border: orange 1px dashed;
    margin: 10px;
  }
</style>
